CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea


.venv/
!/suan/gui/main.spec
suan/gui/Tab/pyqode1/__init__.py
suan/gui/Tab/pyqode1/core/__init__.py
suan/gui/Tab/pyqode1/core/cache.py
suan/gui/Tab/pyqode1/core/icons.py
suan/gui/Tab/pyqode1/core/share.py
suan/gui/Tab/pyqode1/core/_designer_plugins/__init__.py
suan/gui/Tab/pyqode1/core/_designer_plugins/code_edit_plugin.py
suan/gui/Tab/pyqode1/core/_designer_plugins/errors_table_plugin.py
suan/gui/Tab/pyqode1/core/_designer_plugins/interactive_console_plugin.py
suan/gui/Tab/pyqode1/core/_designer_plugins/tab_widget_plugin.py
suan/gui/Tab/pyqode1/core/_forms/__init__.py
suan/gui/Tab/pyqode1/core/_forms/dlg_encodings_ui.py
suan/gui/Tab/pyqode1/core/_forms/dlg_goto_line_ui.py
suan/gui/Tab/pyqode1/core/_forms/dlg_preferred_encodings_editor_ui.py
suan/gui/Tab/pyqode1/core/_forms/dlg_unsaved_files_ui.py
suan/gui/Tab/pyqode1/core/_forms/pnl_encoding_ui.py
suan/gui/Tab/pyqode1/core/_forms/pnl_read_only_ui.py
suan/gui/Tab/pyqode1/core/_forms/popup_open_files_ui.py
suan/gui/Tab/pyqode1/core/_forms/pyqode_core_rc.py
suan/gui/Tab/pyqode1/core/_forms/search_panel_ui.py
suan/gui/Tab/pyqode1/core/api/__init__.py
suan/gui/Tab/pyqode1/core/api/client.py
suan/gui/Tab/pyqode1/core/api/code_edit.py
suan/gui/Tab/pyqode1/core/api/decoration.py
suan/gui/Tab/pyqode1/core/api/encodings.py
suan/gui/Tab/pyqode1/core/api/folding.py
suan/gui/Tab/pyqode1/core/api/manager.py
suan/gui/Tab/pyqode1/core/api/mode.py
suan/gui/Tab/pyqode1/core/api/panel.py
suan/gui/Tab/pyqode1/core/api/syntax_highlighter.py
suan/gui/Tab/pyqode1/core/api/utils.py
suan/gui/Tab/pyqode1/core/backend/__init__.py
suan/gui/Tab/pyqode1/core/backend/server.py
suan/gui/Tab/pyqode1/core/backend/workers.py
suan/gui/Tab/pyqode1/core/dialogs/__init__.py
suan/gui/Tab/pyqode1/core/dialogs/encodings.py
suan/gui/Tab/pyqode1/core/dialogs/goto.py
suan/gui/Tab/pyqode1/core/dialogs/unsaved_files.py
suan/gui/Tab/pyqode1/core/managers/__init__.py
suan/gui/Tab/pyqode1/core/managers/backend.py
suan/gui/Tab/pyqode1/core/managers/decorations.py
suan/gui/Tab/pyqode1/core/managers/file.py
suan/gui/Tab/pyqode1/core/managers/modes.py
suan/gui/Tab/pyqode1/core/managers/panels.py
suan/gui/Tab/pyqode1/core/modes/__init__.py
suan/gui/Tab/pyqode1/core/modes/autocomplete.py
suan/gui/Tab/pyqode1/core/modes/autoindent.py
suan/gui/Tab/pyqode1/core/modes/backspace.py
suan/gui/Tab/pyqode1/core/modes/breakpoint.py
suan/gui/Tab/pyqode1/core/modes/calltips.py
suan/gui/Tab/pyqode1/core/modes/caret_line_highlight.py
suan/gui/Tab/pyqode1/core/modes/case_converter.py
suan/gui/Tab/pyqode1/core/modes/checker.py
suan/gui/Tab/pyqode1/core/modes/code_completion.py
suan/gui/Tab/pyqode1/core/modes/comments.py
suan/gui/Tab/pyqode1/core/modes/cursor_history.py
suan/gui/Tab/pyqode1/core/modes/extended_selection.py
suan/gui/Tab/pyqode1/core/modes/filewatcher.py
suan/gui/Tab/pyqode1/core/modes/image_annotations.py
suan/gui/Tab/pyqode1/core/modes/indenter.py
suan/gui/Tab/pyqode1/core/modes/line_highlighter.py
suan/gui/Tab/pyqode1/core/modes/line_sorter.py
suan/gui/Tab/pyqode1/core/modes/matcher.py
suan/gui/Tab/pyqode1/core/modes/occurences.py
suan/gui/Tab/pyqode1/core/modes/outline.py
suan/gui/Tab/pyqode1/core/modes/pygments_sh.py
suan/gui/Tab/pyqode1/core/modes/right_margin.py
suan/gui/Tab/pyqode1/core/modes/spellchecker_mode.py
suan/gui/Tab/pyqode1/core/modes/wordclick.py
suan/gui/Tab/pyqode1/core/modes/zoom.py
suan/gui/Tab/pyqode1/core/panels/__init__.py
suan/gui/Tab/pyqode1/core/panels/change_extension.py
suan/gui/Tab/pyqode1/core/panels/checker.py
suan/gui/Tab/pyqode1/core/panels/encodings.py
suan/gui/Tab/pyqode1/core/panels/folding.py
suan/gui/Tab/pyqode1/core/panels/global_checker.py
suan/gui/Tab/pyqode1/core/panels/image_annotations.py
suan/gui/Tab/pyqode1/core/panels/line_number.py
suan/gui/Tab/pyqode1/core/panels/margin.py
suan/gui/Tab/pyqode1/core/panels/marker.py
suan/gui/Tab/pyqode1/core/panels/read_only.py
suan/gui/Tab/pyqode1/core/panels/search_and_replace.py
suan/gui/Tab/pyqode1/core/styles/__init__.py
suan/gui/Tab/pyqode1/core/styles/darcula.py
suan/gui/Tab/pyqode1/core/styles/qt.py
suan/gui/Tab/pyqode1/core/tools/__init__.py
suan/gui/Tab/pyqode1/core/tools/console.py
suan/gui/Tab/pyqode1/core/widgets/__init__.py
suan/gui/Tab/pyqode1/core/widgets/_pty.py
suan/gui/Tab/pyqode1/core/widgets/code_edits.py
suan/gui/Tab/pyqode1/core/widgets/encodings.py
suan/gui/Tab/pyqode1/core/widgets/errors_table.py
suan/gui/Tab/pyqode1/core/widgets/file_icons_provider.py
suan/gui/Tab/pyqode1/core/widgets/filesystem_treeview.py
suan/gui/Tab/pyqode1/core/widgets/interactive.py
suan/gui/Tab/pyqode1/core/widgets/menu_recents.py
suan/gui/Tab/pyqode1/core/widgets/outline.py
suan/gui/Tab/pyqode1/core/widgets/output_window.py
suan/gui/Tab/pyqode1/core/widgets/preview.py
suan/gui/Tab/pyqode1/core/widgets/prompt_line_edit.py
suan/gui/Tab/pyqode1/core/widgets/pty_wrapper.py
suan/gui/Tab/pyqode1/core/widgets/splittable_tab_widget.py
suan/gui/Tab/pyqode1/core/widgets/tab_bar.py
suan/gui/Tab/pyqode1/core/widgets/tabs.py
suan/gui/Tab/pyqode1/core/widgets/terminal.py
suan/gui/Tab/pyqode1/python/__init__.py
suan/gui/Tab/pyqode1/python/designer_plugin.py
suan/gui/Tab/pyqode1/python/folding.py
suan/gui/Tab/pyqode1/python/_forms/__init__.py
suan/gui/Tab/pyqode1/python/_forms/pyqode_python_icons_rc.py
suan/gui/Tab/pyqode1/python/backend/__init__.py
suan/gui/Tab/pyqode1/python/backend/pep8utils.py
suan/gui/Tab/pyqode1/python/backend/server.py
suan/gui/Tab/pyqode1/python/backend/workers.py
suan/gui/Tab/pyqode1/python/managers/__init__.py
suan/gui/Tab/pyqode1/python/managers/file.py
suan/gui/Tab/pyqode1/python/modes/__init__.py
suan/gui/Tab/pyqode1/python/modes/auto_pep8.py
suan/gui/Tab/pyqode1/python/modes/autocomplete.py
suan/gui/Tab/pyqode1/python/modes/autoindent.py
suan/gui/Tab/pyqode1/python/modes/calltips.py
suan/gui/Tab/pyqode1/python/modes/frosted_checker.py
suan/gui/Tab/pyqode1/python/modes/goto_assignements.py
suan/gui/Tab/pyqode1/python/modes/pep8_checker.py
suan/gui/Tab/pyqode1/python/modes/sh.py
suan/gui/Tab/pyqode1/python/panels/__init__.py
suan/gui/Tab/pyqode1/python/panels/quick_doc.py
suan/gui/Tab/pyqode1/python/panels/symbol_browser.py
suan/gui/Tab/pyqode1/python/widgets/__init__.py
suan/gui/Tab/pyqode1/python/widgets/code_edit.py
suan/gui/Tab/pyqode1/python/widgets/console.py
suan/gui/Tab/pyqode1/python/widgets/interactive.py
suan/gui/Tab/pyqode1/python/widgets/outline.py
suan/gui/Tab/pyqode1/qt/__init__.py
suan/gui/Tab/pyqode1/qt/QtCore.py
suan/gui/Tab/pyqode1/qt/QtDesigner.py
suan/gui/Tab/pyqode1/qt/QtGui.py
suan/gui/Tab/pyqode1/qt/QtNetwork.py
suan/gui/Tab/pyqode1/qt/QtTest.py
suan/gui/Tab/pyqode1/qt/QtWebWidgets.py
suan/gui/Tab/pyqode1/qt/QtWidgets.py
suan/gui/Tab/pyqode/__init__.py
suan/gui/Tab/pyqode/core/__init__.py
suan/gui/Tab/pyqode/core/cache.py
suan/gui/Tab/pyqode/core/icons.py
suan/gui/Tab/pyqode/core/share.py
suan/gui/Tab/pyqode/core/_designer_plugins/__init__.py
suan/gui/Tab/pyqode/core/_designer_plugins/code_edit_plugin.py
suan/gui/Tab/pyqode/core/_designer_plugins/errors_table_plugin.py
suan/gui/Tab/pyqode/core/_designer_plugins/interactive_console_plugin.py
suan/gui/Tab/pyqode/core/_designer_plugins/tab_widget_plugin.py
suan/gui/Tab/pyqode/core/_forms/__init__.py
suan/gui/Tab/pyqode/core/_forms/dlg_encodings_ui.py
suan/gui/Tab/pyqode/core/_forms/dlg_goto_line_ui.py
suan/gui/Tab/pyqode/core/_forms/dlg_preferred_encodings_editor_ui.py
suan/gui/Tab/pyqode/core/_forms/dlg_unsaved_files_ui.py
suan/gui/Tab/pyqode/core/_forms/pnl_encoding_ui.py
suan/gui/Tab/pyqode/core/_forms/pnl_read_only_ui.py
suan/gui/Tab/pyqode/core/_forms/popup_open_files_ui.py
suan/gui/Tab/pyqode/core/_forms/pyqode_core_rc.py
suan/gui/Tab/pyqode/core/_forms/search_panel_ui.py
suan/gui/Tab/pyqode/core/api/__init__.py
suan/gui/Tab/pyqode/core/api/client.py
suan/gui/Tab/pyqode/core/api/code_edit.py
suan/gui/Tab/pyqode/core/api/decoration.py
suan/gui/Tab/pyqode/core/api/encodings.py
suan/gui/Tab/pyqode/core/api/folding.py
suan/gui/Tab/pyqode/core/api/manager.py
suan/gui/Tab/pyqode/core/api/mode.py
suan/gui/Tab/pyqode/core/api/panel.py
suan/gui/Tab/pyqode/core/api/syntax_highlighter.py
suan/gui/Tab/pyqode/core/api/utils.py
suan/gui/Tab/pyqode/core/backend/__init__.py
suan/gui/Tab/pyqode/core/backend/server.py
suan/gui/Tab/pyqode/core/backend/workers.py
suan/gui/Tab/pyqode/core/dialogs/__init__.py
suan/gui/Tab/pyqode/core/dialogs/encodings.py
suan/gui/Tab/pyqode/core/dialogs/goto.py
suan/gui/Tab/pyqode/core/dialogs/unsaved_files.py
suan/gui/Tab/pyqode/core/managers/__init__.py
suan/gui/Tab/pyqode/core/managers/backend.py
suan/gui/Tab/pyqode/core/managers/decorations.py
suan/gui/Tab/pyqode/core/managers/file.py
suan/gui/Tab/pyqode/core/managers/modes.py
suan/gui/Tab/pyqode/core/managers/panels.py
suan/gui/Tab/pyqode/core/modes/__init__.py
suan/gui/Tab/pyqode/core/modes/autocomplete.py
suan/gui/Tab/pyqode/core/modes/autoindent.py
suan/gui/Tab/pyqode/core/modes/backspace.py
suan/gui/Tab/pyqode/core/modes/breakpoint.py
suan/gui/Tab/pyqode/core/modes/calltips.py
suan/gui/Tab/pyqode/core/modes/caret_line_highlight.py
suan/gui/Tab/pyqode/core/modes/case_converter.py
suan/gui/Tab/pyqode/core/modes/checker.py
suan/gui/Tab/pyqode/core/modes/code_completion.py
suan/gui/Tab/pyqode/core/modes/comments.py
suan/gui/Tab/pyqode/core/modes/cursor_history.py
suan/gui/Tab/pyqode/core/modes/extended_selection.py
suan/gui/Tab/pyqode/core/modes/filewatcher.py
suan/gui/Tab/pyqode/core/modes/image_annotations.py
suan/gui/Tab/pyqode/core/modes/indenter.py
suan/gui/Tab/pyqode/core/modes/line_highlighter.py
suan/gui/Tab/pyqode/core/modes/line_sorter.py
suan/gui/Tab/pyqode/core/modes/matcher.py
suan/gui/Tab/pyqode/core/modes/occurences.py
suan/gui/Tab/pyqode/core/modes/outline.py
suan/gui/Tab/pyqode/core/modes/pygments_sh.py
suan/gui/Tab/pyqode/core/modes/right_margin.py
suan/gui/Tab/pyqode/core/modes/spellchecker_mode.py
suan/gui/Tab/pyqode/core/modes/wordclick.py
suan/gui/Tab/pyqode/core/modes/zoom.py
suan/gui/Tab/pyqode/core/panels/__init__.py
suan/gui/Tab/pyqode/core/panels/change_extension.py
suan/gui/Tab/pyqode/core/panels/checker.py
suan/gui/Tab/pyqode/core/panels/encodings.py
suan/gui/Tab/pyqode/core/panels/folding.py
suan/gui/Tab/pyqode/core/panels/global_checker.py
suan/gui/Tab/pyqode/core/panels/image_annotations.py
suan/gui/Tab/pyqode/core/panels/line_number.py
suan/gui/Tab/pyqode/core/panels/margin.py
suan/gui/Tab/pyqode/core/panels/marker.py
suan/gui/Tab/pyqode/core/panels/read_only.py
suan/gui/Tab/pyqode/core/panels/search_and_replace.py
suan/gui/Tab/pyqode/core/styles/__init__.py
suan/gui/Tab/pyqode/core/styles/darcula.py
suan/gui/Tab/pyqode/core/styles/qt.py
suan/gui/Tab/pyqode/core/tools/__init__.py
suan/gui/Tab/pyqode/core/tools/console.py
suan/gui/Tab/pyqode/core/widgets/__init__.py
suan/gui/Tab/pyqode/core/widgets/_pty.py
suan/gui/Tab/pyqode/core/widgets/code_edits.py
suan/gui/Tab/pyqode/core/widgets/encodings.py
suan/gui/Tab/pyqode/core/widgets/errors_table.py
suan/gui/Tab/pyqode/core/widgets/file_icons_provider.py
suan/gui/Tab/pyqode/core/widgets/filesystem_treeview.py
suan/gui/Tab/pyqode/core/widgets/interactive.py
suan/gui/Tab/pyqode/core/widgets/menu_recents.py
suan/gui/Tab/pyqode/core/widgets/outline.py
suan/gui/Tab/pyqode/core/widgets/output_window.py
suan/gui/Tab/pyqode/core/widgets/preview.py
suan/gui/Tab/pyqode/core/widgets/prompt_line_edit.py
suan/gui/Tab/pyqode/core/widgets/pty_wrapper.py
suan/gui/Tab/pyqode/core/widgets/splittable_tab_widget.py
suan/gui/Tab/pyqode/core/widgets/tab_bar.py
suan/gui/Tab/pyqode/core/widgets/tabs.py
suan/gui/Tab/pyqode/core/widgets/terminal.py
suan/gui/Tab/pyqode/python/__init__.py
suan/gui/Tab/pyqode/python/designer_plugin.py
suan/gui/Tab/pyqode/python/folding.py
suan/gui/Tab/pyqode/python/_forms/__init__.py
suan/gui/Tab/pyqode/python/_forms/pyqode_python_icons_rc.py
suan/gui/Tab/pyqode/python/backend/__init__.py
suan/gui/Tab/pyqode/python/backend/pep8utils.py
suan/gui/Tab/pyqode/python/backend/server.py
suan/gui/Tab/pyqode/python/backend/workers.py
suan/gui/Tab/pyqode/python/managers/__init__.py
suan/gui/Tab/pyqode/python/managers/file.py
suan/gui/Tab/pyqode/python/modes/__init__.py
suan/gui/Tab/pyqode/python/modes/auto_pep8.py
suan/gui/Tab/pyqode/python/modes/autocomplete.py
suan/gui/Tab/pyqode/python/modes/autoindent.py
suan/gui/Tab/pyqode/python/modes/calltips.py
suan/gui/Tab/pyqode/python/modes/frosted_checker.py
suan/gui/Tab/pyqode/python/modes/goto_assignements.py
suan/gui/Tab/pyqode/python/modes/pep8_checker.py
suan/gui/Tab/pyqode/python/modes/sh.py
suan/gui/Tab/pyqode/python/panels/__init__.py
suan/gui/Tab/pyqode/python/panels/quick_doc.py
suan/gui/Tab/pyqode/python/panels/symbol_browser.py
suan/gui/Tab/pyqode/python/widgets/__init__.py
suan/gui/Tab/pyqode/python/widgets/code_edit.py
suan/gui/Tab/pyqode/python/widgets/console.py
suan/gui/Tab/pyqode/python/widgets/interactive.py
suan/gui/Tab/pyqode/python/widgets/outline.py
suan/gui/Tab/pyqode/qt/__init__.py
suan/gui/Tab/pyqode/qt/QtCore.py
suan/gui/Tab/pyqode/qt/QtDesigner.py
suan/gui/Tab/pyqode/qt/QtGui.py
suan/gui/Tab/pyqode/qt/QtNetwork.py
suan/gui/Tab/pyqode/qt/QtTest.py
suan/gui/Tab/pyqode/qt/QtWebWidgets.py
suan/gui/Tab/pyqode/qt/QtWidgets.py
suan/gui/Tab/code_tab.py.bak
toolkits/cpp/solvers/fft/doc/package-lock.json
toolkits/sjob/__pycache__/cli.cpython-39.pyc
toolkits/sjob/package-lock.json
toolkits/sviz/package-lock.json
